
<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <!-- <script src='https://api.mapbox.com/mapbox-gl-js/v2.7.0/mapbox-gl.js'></script>
  <link href='https://api.mapbox.com/mapbox-gl-js/v2.7.0/mapbox-gl.css' rel='stylesheet' /> -->
  <script src="https://cdn.maptiler.com/mapbox-gl-js/v1.13.2/mapbox-gl.js"></script>
  <link href="https://cdn.maptiler.com/mapbox-gl-js/v1.13.2/mapbox-gl.css" rel="stylesheet" />

  <script src="https://d3js.org/d3.v5.min.js"></script>

  <style>
    body {
      font-family: "Helvetica Neue", Helvetica, sans-serif;
      font-size: 14px;
      color: #333;
      background-color: #bbb;
    }
  </style>
</head>
<body>
  <div>
    <h1>Floodaware Dashboard</h1>
    <p>Welcome to the development build of the Floodaware dashboard</p>
    <p>You can click on level icons to view information about the water level sensors,
        all values are in m(AHD), the scale automatically adjusts for each sensor
    </p>
    <!-- <p>
        You can also hover over the graph of the average rainfall from BOM(mm/hr)
        (currently historical data only) to update the map display of rain clouds
    </p> -->
  </div>
  <div id="root"></div>
  
  </div>
  <script>
    class Chart {
      constructor(
        yAxisTitle = "",
        svgWidth = 360,
        svgHeight = 260,
        margin = {top: 10, right: 30, bottom: 30, left: 60}
      ) 
      {
        this.margin = margin
        this.width = svgWidth - margin.left - margin.right
        this.height = svgHeight - margin.top - margin.bottom
        this.yAxisTitle = yAxisTitle

        this.graph = d3.select(document.createElement("div"))

        this.graph
          .append("svg")
              .attr("id", "graph")
              .attr("width", this.width + this.margin.left + this.margin.right)
              .attr("height", this.height + this.margin.top + this.margin.bottom)

        this.group = this.graph.select("svg")
          .append("g")
              .attr("transform", "translate(" + this.margin.left + "," + this.margin.top + ")")

      }

      createGraph = (data) => {

        this.x = d3.scaleTime()
          .domain(d3.extent(data, d => d.stamp))
          .range([ 0, this.width ])
        this.group.append("g")
          .attr("id", "xaxis")
          .attr("transform", "translate(0," + this.height + ")")
          .call(d3.axisBottom(this.x))

        this.y = d3.scaleLinear()
          .domain([d3.min(data, d => +d.level)-0.5, d3.max(data, d => +d.level)+0.5])
          .range([ this.height, 0 ]);
        this.group.append("g")
          .attr("id", "yaxis")
          .call(d3.axisLeft(this.y));

        this.group.append("path")
          .attr("id", "data")
          .datum(data)
          .attr("fill", "none")
          .attr("stroke", "steelblue")
          .attr("stroke-width", 1.5)
          .attr("d", d3.line()
              .x(d => this.x(d.stamp))
              .y(d => this.y(d.level))
          )
        
        this.group.append("text")
          .attr("class", "y label")
          .attr("text-anchor", "end")
          .attr("y", 6)
          .attr("dy", "-3em")
          .attr("fill", "white")
          .attr("transform", "rotate(-90)")
          .text(this.yAxisTitle)
      }

      updateGraph = (data) => {

        this.x = d3.scaleTime()
          .domain(d3.extent(data, d => d.stamp))
          .range([ 0, this.width ])

        this.y = d3.scaleLinear()
          .domain([d3.min(data, d => +d.level)-0.5, d3.max(data, d => +d.level)+0.5])
          .range([ this.height, 0 ])
        
        this.group.selectAll("g #xaxis")
          .call(d3.axisBottom(this.x))

        this.group.selectAll("g #yaxis")
          .call(d3.axisLeft(this.y))
        
        this.group.select("path#data")
          .datum(data)
          .attr("fill", "none")
          .attr("stroke", "steelblue")
          .attr("stroke-width", 1.5)
          .attr("d", d3.line()
            .x(d => this.x(d.stamp))
            .y(d => this.y(d.level))
          )
      }

      createGraph2 = (data) => {
                
        this.x = d3.scaleTime()
          .domain(d3.extent(data, d => d.stamp))
          .range([ 0, this.width ])
        this.group.append("g")
          .attr("id", "xaxis")
          .attr("transform", "translate(0," + this.height + ")")
          .call(d3.axisBottom(this.x));

        this.y = d3.scaleLinear()
          .domain([0, d3.max(data, d => +d.avg)])
          .range([ this.height, 0 ]);
        this.group.append("g")
          .attr("id", "yaxis")
          .call(d3.axisLeft(this.y));

        this.group.append("path")
          .attr("id", "data")
          .datum(data)
          .attr("fill", "none")
          .attr("stroke", "steelblue")
          .attr("stroke-width", 1.5)
          .attr("d", d3.line()
              .x(d => this.x(d.stamp))
              .y(d => this.y(d.avg))
          )

        this.group.append("text")
          .attr("class", "y label")
          .attr("text-anchor", "end")
          .attr("y", 6)
          .attr("dy", "-3em")
          .attr("transform", "rotate(-90)")
          .text(this.yAxisTitle)
      }

      updateGraph2 = (data) => {
        this.x = d3.scaleTime()
          .domain(d3.extent(data, d => d.stamp))
          .range([ 0, this.width ])

        this.y = d3.scaleLinear()
          .domain([0, d3.max(data, d => +d.avg)])
          .range([ this.height, 0 ])

        this.group.selectAll("g #xaxis")
          .call(d3.axisBottom(this.x))

        this.group.selectAll("g #yaxis")
          .call(d3.axisLeft(this.y))

        this.group.select("path#data")
          .datum(data)
          .attr("fill", "none")
          .attr("stroke", "steelblue")
          .attr("stroke-width", 1.5)
          .attr("d", d3.line()
              .x(d => this.x(d.stamp))
              .y(d => this.y(d.avg))
          )

      }
    }

    class DateRangeSelector {
      constructor() {
        this.dateRange = {}

        this.root = document.createElement("div")
        this.form = document.createElement("form")

        this.startDateSelector = document.createElement("input")
        this.startDateSelector.type = "date"

        this.endDateSelector = document.createElement("input")
        this.endDateSelector.type = "date"

        this.button = document.createElement("button")
        this.button.textContent = "Set Date Range"

        this.form.append(this.startDateSelector, this.endDateSelector, this.button)

        this.root.append(this.form)

      }

      getRoot() {
        return this.root
      }

      bindSetDateRange(func) {
        this.form.addEventListener("submit", e => {
          e.preventDefault()

          const dateRange = {
            start: this.startDateSelector.value,
            end: this.endDateSelector.value
          }

          func(dateRange)
        })
      }
    }

    class ApiHandler {
      constructor() {
        this.dateRange = {}
        this.retries = 5

        this.onSetDateRange = []
      }

      async fetchRetry(url) {
        let retriesLeft = 5
        while (retriesLeft > 0) {
          const response = await fetch(url)
          if (response.ok) { return response }
          retriesLeft -= 1
        }
        console.error(`failed to load ${url} after ${this.retries} retries.`)
        return "error"
      }

      setDateRange = (range) => {
        this.dateRange = range

        for (const func of this.onSetDateRange) {
          func()
        }

      }

      async bindCatchment(apiRef, setCatchment) {
        const json = await this.fetchRetry(api_endpoint+"catchment").then(response => response.json())
        setCatchment(json)
      }

      async bindSensors(apiRef, setSensors) {
        const json = await this.fetchRetry(api_endpoint+"sensors").then(response => response.json())
        setSensors(json)
      }

      async bindHotspots(apiRef, setHotspots) {
        const json = await this.fetchRetry(api_endpoint+"hotspots").then(response => response.json())
        setHotspots(json)
      }

      async bindRadar(apiRef, setRadar, updateRadar) {
        const json = await this.fetchRetry(api_endpoint+`rainfall?startdate=${this.dateRange.start}&enddate=${this.dateRange.end}`).then(response => response.json())
        setRadar(json)
      }

      async bindLevels(apiRef, setLevels, updateLevels) {
        const json = await this.fetchRetry(api_endpoint+`sensors/data?startdate=${this.dateRange.start}&enddate=${this.dateRange.end}`).then(response => response.json())
        setLevels(json)
        this.onSetDateRange.push(async () => {
          const json = await this.fetchRetry(api_endpoint+`sensors/data?startdate=${this.dateRange.start}&enddate=${this.dateRange.end}`).then(response => response.json())
          updateLevels(json)
        })
      }

      async bindRainfallAvg(apiRef, setRainfallAvg, updateRainfallAvg) {
        const json = await this.fetchRetry(api_endpoint+`rainfall/avg?startdate=${this.dateRange.start}&enddate=${this.dateRange.end}`).then(response => response.json())
        setRainfallAvg(json)
        this.onSetDateRange.push(async () => {
          const json = await this.fetchRetry(api_endpoint+`rainfall/avg?startdate=${this.dateRange.start}&enddate=${this.dateRange.end}`).then(response => response.json())
          updateRainfallAvg(json)
        })
      }
    }

    class Model {
      constructor() {
        this.dateRange = {}

        this.catchment = {}
        this.sensors = {}

        this.radar = {}
        this.hotpsots = {}
        this.levels = {}
        this.rainfallAvg = {}

        this.onSetDateRange = []

        this.onSetCatchment = []
        this.onSetSensors = []

        this.onRadarChange = []
        this.onSetHotspots = []
        this.onLevelChange = []
        this.onSetRainfallAvg = []
        this.onUpdateRainfallAvg = []
      }

      bindSetCatchment = (func) => {
        this.onSetCatchment.push(func)
      }

      setCatchment = (data) => {
        this.catchment = data
        for (const func of this.onSetCatchment) {
          func(this.catchment)
        }
      }

      bindSetSensors = (func) => {
        this.onSetSensors.push(func)
      }

      setSensors = (data) => {
        this.sensors = data
        for (const func of this.onSetSensors) {
          func(this.sensors)
        }
      }

      bindSetDateRange = (func) => {
        this.onSetDateRange.push(func)
      }

      setDateRange = (obj) => {
        this.dateRange = obj
        for (const func of this.onSetDateRange) {
          func(this.dateRange)
        }
      }

      bindRadarChange = (func) => {
        this.onRadarChange.push(func)
      }

      setRadar = (data) => {
        this.radar = data
        for (func of this.onRadarChange) {
          func(this.radar)
        }
      }

      updateRadar = () => {

      }

      bindSetHotspots = (func) => {
        this.onSetHotspots.push(func)
      }

      setHotspots = (data) => {
        this.hotspots = data
        for (const func of this.onSetHotspots) {
          func(this.hotspots)
        }
      }

      bindLevelChange = (func) => {
        this.onLevelChange.push(func)
      }

      setLevels = (data) => {
        this.levels = data
        for (const func of this.onLevelChange) {
          func(this.levels)
        }
      }

      updateLevels = (data) => {
        this.levels = data
        for (const func of this.onLevelChange) {
          func(this.levels)
        }
      }

      bindSetRainfallAvg = (func) => {
        this.onSetRainfallAvg.push(func)
      }

      bindUpdateRainfallAvg = (func) => {
        this.onUpdateRainfallAvg.push(func)
      }

      setRainfallAvg = (data) => {
        this.rainfallAvg = data
        for (const func of this.onSetRainfallAvg) {
          func(this.rainfallAvg)
        }
      }

      updateRainfallAvg = (data) => {
        this.rainfallAvg = data
        for (const func of this.onUpdateRainfallAvg) {
          func(this.rainfallAvg)
        }
      }
    }

    class View {
      constructor() {
        this.root = document.createElement("div")

        this.dateRangeSelector = new DateRangeSelector()
        this.root.append(this.dateRangeSelector.getRoot())

        this.mapContainer = document.createElement("div")
        this.mapContainer.style.height = "min(60vw, 75vh)"
        this.mapContainer.style.width = "min(60vw, 75vh)"

        this.root.append(this.mapContainer)

        this.map = new mapboxgl.Map({
          container: this.mapContainer,
          style: 'https://api.maptiler.com/maps/topo/style.json?key=TGgOfxJrRHJvzjeiOdhm',
          center: [150.88,-34.4],
          zoom: 13,
          maxBounds: [
              [150.73,-34.49],
              [151,-34.32]
          ]
        })
        this.map.getCanvas().style.cursor = 'default'

        this.map.on('mouseenter', 'sensors', () => {
          this.map.getCanvas().style.cursor = 'pointer'
        })
        this.map.on('mouseleave', 'sensors', () => {
          this.map.getCanvas().style.cursor = 'default'
        })

        this.map.on('mouseenter', 'hotspots', () => {
          this.map.getCanvas().style.cursor = 'pointer'
        })
        this.map.on('mouseleave', 'hotspots', () => {
          this.map.getCanvas().style.cursor = 'default'
        })

        this.map.on("load", () => {          
          this.map.addControl(new mapboxgl.NavigationControl())
        })

        this.map.on("render", () => {
          this.map.resize()
        })

        this.chart = new Chart("Water Level Sensor Reading (mAHD)")
        this.chart.createGraph([])

        this.rainfallChart = {}
      }

      getRoot() {
        return this.root
      }

      bindClickSensor = (func) => {
        this.map.on("click", "sensors", e => {
          func(e)
        })
      }

      displayRainfallChart(data) {
        const stringtodate = datestring => d3.timeParse("%Y-%m-%dT%H:%M:%S")(datestring)
        const selected = JSON.parse(JSON.stringify(data))
        selected.forEach(d => {
            d.stamp = stringtodate(d.stamp)
            d.avg = (d.avg/300)*3600
        })

        this.rainfallChart = new Chart("BOM Average Rainfall (mm/hr)", 720)
        this.rainfallChart.createGraph2(selected)
        this.root.append(this.rainfallChart.graph.node())

      }

      updateRainfallChart(data) {
        const stringtodate = datestring => d3.timeParse("%Y-%m-%dT%H:%M:%S")(datestring)
        const selected = JSON.parse(JSON.stringify(data))
        selected.forEach(d => {
            d.stamp = stringtodate(d.stamp)
            d.avg = (d.avg/300)*3600
        })

        this.rainfallChart.updateGraph2(selected)
      }

      displayPopupChart(e, data, sensors) {
        const coordinates = e.features[0].geometry.coordinates.slice()
        
        while (Math.abs(e.lngLat.lng - coordinates[0]) > 180) {
          coordinates[0] += e.lngLat.lng > coordinates[0] ? 360 : -360
        }

        const selected = JSON.parse(JSON.stringify(data.features.filter(d => d.id === e.features[0].properties.id).filter(d => d.level < 5000)))

        const stringtodate = datestring => d3.timeParse("%Y-%m-%dT%H:%M:%S")(datestring)
        selected.forEach(d => {
            d.stamp = stringtodate(d.stamp)
        })

        const temp = sensors.features.map(d => [d.properties.id, d.properties.ahd])
        const ahds = Object.fromEntries(temp)

        selected.forEach(d => {
            d.level = ahds[d.id] - d.level/1000
        })

        this.chart.updateGraph(selected)
        
        new mapboxgl.Popup()
          .setLngLat(coordinates)
          .setHTML(`
            <h2>Sensor ${e.features[0].properties.id}</h2>
            ${this.chart.graph.node().innerHTML}
          `)
          .setMaxWidth(400)
          .addTo(this.map)

      }

    }

    class Controller {
      constructor(model, view) {
        this.model = model
        this.view = view

        this.apiHandler = new ApiHandler()

        this.view.bindClickSensor(this.handleClickSensor)
        this.view.dateRangeSelector.bindSetDateRange(this.model.setDateRange)

        this.model.bindSetRainfallAvg(this.onSetRainfallAvg)
        this.model.bindUpdateRainfallAvg(this.onUpdateRainfallAvg)
        this.model.bindSetCatchment(this.onSetCatchment)
        this.model.bindSetCatchment(this.onSetSensors)
        this.model.bindSetHotspots(this.onSetHotspots)
        this.model.bindSetDateRange(this.apiHandler.setDateRange)

        // this.apiHandler.bindRadar("", this.model.setRadar, this.model.updateRadar)
        this.apiHandler.setDateRange({start: "20200207", end: "20200208"})
        this.apiHandler.bindLevels("", this.model.setLevels, this.model.updateLevels)
        this.apiHandler.bindRainfallAvg("", this.model.setRainfallAvg, this.model.updateRainfallAvg)
        this.apiHandler.bindCatchment("", this.model.setCatchment)
        this.apiHandler.bindSensors("", this.model.setSensors)
        this.apiHandler.bindHotspots("", this.model.setHotspots)
        

      }

      onSetCatchment = () => {
        this.view.map.addSource("catchment", {
          type: "geojson",
          data: this.model.catchment
        })

        this.view.map.addLayer({
          "id": "catchment",
          "type": "fill",
          "source": "catchment",
          "paint": {
            "fill-color": "green",
            "fill-opacity": 0.11,
            "fill-outline-color": "darkgreen"
          }
        })

        this.view.map.addLayer({
          "id": "catchment-outline",
          "type": "line",
          "source": "catchment",
          "paint": {
            "line-color": "darkgreen",
            "line-width": 2,
            "line-opacity": 0.4,
          }
        })
      }

      onSetSensors = () => {

        this.view.map.addSource("sensors", {
          type: "geojson",
          data: this.model.sensors
        })

        this.view.map.loadImage(
          "level_sensor.png",
          (error, image) => {
            if (error) throw error
            this.view.map.addImage("level_sensor", image, {sdf: false})

            this.view.map.addLayer({
              "id": "sensors",
              "type": "symbol",
              "source": "sensors",
              "layout": {
                "icon-image": "level_sensor",
                "icon-size": 0.035,
                "icon-allow-overlap": true,
              },
              "paint": {
                "icon-color": "blue"
              }
            })
          }
        )

      }

      onSetHotspots = () => {
        this.view.map.addSource("hotspots", {
          type: "geojson",
          data: this.model.hotspots
        })

        this.view.map.addLayer({
          "id": "hotspots",
          "type": "circle",
          "source": "hotspots",
          "paint": {
            "circle-color": [
              "interpolate",
              ["linear"],
              ["get", "flood_depth"],
              -0.5,
              "yellow",
              0,
              "orange",
              3,
              "red",
              6,
              "darkred",
              10,
              "black"
            ],
            "circle-radius": 4
          }
        })

        this.view.map.on("click", "hotspots", e => {

          const coordinates = e.features[0].geometry.coordinates.slice()
        
          while (Math.abs(e.lngLat.lng - coordinates[0]) > 180) {
            coordinates[0] += e.lngLat.lng > coordinates[0] ? 360 : -360
          }

          new mapboxgl.Popup()
            .setLngLat(coordinates)
            .setHTML(`
              <h2>Hotspot</h2>
              <h3>Flood Depth: ${e.features[0].properties.flood_depth}</h3>
            `)
            .setMaxWidth(400)
            .addTo(this.view.map)

        })
      }

      onSetRainfallAvg = () => {
        this.view.displayRainfallChart(this.model.rainfallAvg.features)
      }

      onUpdateRainfallAvg = () => {
        this.view.updateRainfallChart(this.model.rainfallAvg.features)
      }

      handleClickSensor = (e) => {
        this.view.displayPopupChart(e, this.model.levels, this.model.sensors)
      }


    }

  </script>
  <script>
    const api_endpoint = window.location.origin+"/api/"

    const controller = new Controller(new Model(), new View())
    window.controller = controller

    document.getElementById("root").append(controller.view.getRoot())
  </script>
</body>
</html>
